svg#boardbackground {
	position: relative;
}
svg#board {
	position: absolute;
	left: 0;
}

#board #grid {
	opacity: 0.1;
}

#board .character {
}

#board, #boardbackground {
	width: 100%;
	height: calc(100% - 2px);
}

#cults, #grid, #overlay, #regions {
	display: none;
}

body { font-family: Tahoma, Helvetica, sans-serif; }
th { font-size: 10pt; }
td, li { font-size: 8pt; line-height: 15px; font-weight: normal; }



.bgwhite {background-color: rgba(255,255,255,0.6);}
.bgblue {background-color: rgba(104,185,252,0.6);}
.bgyellow {background-color: rgba(238,218,160,0.6);}
.bgred {background-color: rgba(199,50,59,0.6);}
.bgwhite {background-color: rgba(255,255,255,0.6);}
.bgwhite {background-color: rgba(255,255,255,0.6);}




#game-views {
	width: 100%;
	height: calc(100% - 2px);
	min-width: 1400px;
	font-weight: bold;
    font-size: 9pt;
    margin: 0;
}
.noselect {
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
/**********************\
 **********************
 ******* Views ********
 **********************
\**********************/
.game-view {
	padding: 5px 10px;
	height: calc(100% - 10px);
	overflow-y: scroll;
	display: inline-block;
}
.view-title {
	width: 100%;
	height: 20px;
	position: relative;
}
.close-column2-list {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
#partylist {
	width: 200px;
}
#unitlist,
#groupunitlist,
#raidunitlist {
	width: 200px;
	display: none;
}
#unitlist[data-showlist="1"],
#groupunitlist[data-showlist="1"],
#raidunitlist[data-showlist="1"] {
	display: inline-block;
}
#mainview {
	width: 600px;
}
#maplogview {
	width: calc(100% - 1092px)
}

/*************************\
 *** General List ********
\*************************/
.subview-body,
.subview-body * {
	position: relative;
}
.item-list {
	width: 100%;
}
.item-list li {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	margin-left: -5px;
	padding-left: 5px;
	margin-right: -5px;
	padding-right: 5px;
}
.item-list li:hover {
	background-color: rgba(0,0,0,0.18);
}
.badge {
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem;
}
/*************************\
 *** Party List **********
\*************************/
#party-submenu {
	width: 100%;
	height: 25px;
}

#party-body > section {
	display: none;
}
#party-submenu[data-view="1"] #setdata-party-groups {
	font-weight: bold;
}
#party-submenu[data-view="2"] #setdata-party-raids {
	font-weight: bold;
}
#party-body[data-view="1"] #party-groups {
	display: block;
}
#party-body[data-view="2"] #party-raids {
	display: block;
}
/*************************\
 *** Unit List ***********
\*************************/
#unit-submenu {
	width: 100%;
	height: 25px;
}

#unit-body > section {
	display: none;
}
#unit-submenu[data-view="1"] #setdata-unit-characters {
	font-weight: bold;
}
#unit-submenu[data-view="2"] #setdata-unit-transports {
	font-weight: bold;
}
#unit-body[data-view="1"] #unit-characters {
	display: block;
}
#unit-body[data-view="2"] #unit-transports {
	display: block;
}

#unit-trns-list:empty {
	content: "xd"
}

.unit-char {
	padding: 2px 0;
}
.unit-char .unit-gender svg {
	display: none;
}
.unit-char .unit-gender path,
.unit-char .unit-stamina path,
.unit-char .unit-satiety path,
.unit-char .unit-energy path {
	fill: currentColor !important;
}
.unit-char .unit-satiety rect {
	fill: brown !important;
}
.unit-char[data-unitgender="1"] .unit-gender svg.si-glyph-male {
	color: #3498DB;
	display: inline;
}
.unit-char[data-unitgender="2"] .unit-gender svg.si-glyph-female {
	color: pink;
	display: inline;
}

.unit-char .unit-livingstatus {
	position: absolute;
	right: 5px;
}
.unit-char:hover .unit-livingstatus {
	display: none;
}
.unit-char .unit-level::before {
	content: "Lv."
}
.unit-char .unit-level::after {
	content: attr(data-v)
}
/*************************\
 *** Group List ***********
\*************************/
#groupunit-submenu {
	width: 100%;
	height: 25px;
}
#groupunit-body {
	height: calc(100% - 45px);
}
#groupunit-location,
#groupunit-task,
#groupunit-status {
	padding-bottom: 10px;
}

#groupunit-detailpicker {
	position: absolute;
	bottom: 0;
}

/*************************\
 *** Raid List ***********
\*************************/
#raidunit-submenu {
	width: 100%;
	height: 25px;
}

/*************************\
 *** Body View ***********
\*************************/
.staticon {
	display: inline-block;
	text-align: center;
	width: 12px;
}


#main-title #main-title-overview,
#main-title .body-subtitle-container {
	padding: 0 5px;
	margin-right: 2px;
	border-bottom: black solid 2px;
}
#main-title[data-view="0"] #main-title-overview,
#main-title[data-view="1"] .body-subtitle-container, 
#main-title[data-view="2"] .body-subtitle-container, 
#main-title[data-view="3"] .body-subtitle-container, 
#main-title[data-view="4"] .body-subtitle-container, 
#main-title[data-view="5"] .body-subtitle-container {
	border-bottom-color: cyan;
}

#main-title .body-title,
#main-title .body-subtitle {
	display: none;
}
#main-title #main-title-overview {
	display: inline;
	cursor: pointer;
}
#main-title[data-view="1"] #main-title-information,
#main-title[data-view="2"] #main-title-information,
#main-title[data-view="3"] #main-title-information,
#main-title[data-view="4"] #main-title-information,
#main-title[data-view="5"] #main-title-information2 {
	display: inline;
}
#main-title[data-view="1"] #main-title-party {
	display: inline;
}
#main-title[data-view="5"] #main-title-party-new {
	display: inline;
}
#main-title[data-view="2"] #main-title-unit-character {
	display: inline;
}
#main-title[data-view="3"] #main-title-unit-transport {
	display: inline;
}
#main-body {
	width: 100%;
	height: calc(100% - 20px);
}
#main-body > section {
	display: none;
	width: 100%;
	height: 100%;
}
#main-body ul.horizontal li {
	display: inline-block;
	/*width: 100px;*/
}
#main-body[data-view="0"] #main-overview,
#main-body[data-view="1"] #main-group,
#main-body[data-view="2"] #main-unit-character,
#main-body[data-view="3"] #main-unit-transport,
#main-body[data-view="4"] #main-map,
#main-body[data-view="5"] #main-party-new,
#main-body[data-view="6"] #main-raid {
	display: block;
}
/* Main General */
.progressbar {
	position: relative;
	display: inline-block;
	width: calc(100% - 2px);
	height: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	vertical-align: text-top;
	border: solid 1px #000;
}
.progress {
	height: 10px;
	width: attr(data-exppercent);
	background-color: rgba(76,175,80,0.9);
}
.progressnumber {
	position: absolute;
	font-family: 'Cutive Mono', monospace;
	top: -3px;
	text-align: center;
	width: 100%;
}
.main-subview-menu {
	width: 100%;
	height: 20px;
}
.main-subview-body {
	width: 100%;
	height: calc(100% - 20px);
}

/* Main: Group */
#main-group {

}
#main-group-submenu {
	display: block;
	width: 100%;
	height: 24px;
	position: relative;
}
#main-group-submenu li {
	padding: 0 5px;
	text-align: center;
	margin-right: 2px;
	border-bottom: black solid 2px;
}

#main-group[data-groupsubview="1"] li#main-group-submenu-overview,
#main-group[data-groupsubview="2"] li#main-group-submenu-units,
#main-group[data-groupsubview="3"] li#main-group-submenu-inventories,
#main-group[data-groupsubview="4"] li#main-group-submenu-tasks,
#main-group[data-groupsubview="5"] li#main-group-submenu-map {
	border-bottom-color: cyan;
}
#main-group-body section {
	display: none;
}
#main-group[data-groupsubview="1"] section#main-group-body-overview,
#main-group[data-groupsubview="2"] section#main-group-body-units,
#main-group[data-groupsubview="3"] section#main-group-body-inventories,
#main-group[data-groupsubview="4"] section#main-group-body-tasks,
#main-group[data-groupsubview="5"] section#main-group-body-map {
	display: block;
}

/* Main: Raid */
#main-raid {
	
}


/* Main: Character */
/* Main : Character > Information subview */
#main-title-unit-character-info2 {
	font-size: 70%;
}
#main-unit-uch-submenu {
	display: block;
	width: 100%;
	height: 24px;
	position: relative;
}
#main-unit-uch-submenu li {
	padding: 0 5px;
	text-align: center;
	margin-right: 2px;
	border-bottom: black solid 2px;
	font-weight: bold;
}

#main-unit-character[data-unitsubview="1"] #main-unit-uch-submenu-information,
#main-unit-character[data-unitsubview="2"] #main-unit-uch-submenu-skills,
#main-unit-character[data-unitsubview="3"] #main-unit-uch-submenu-inventory,
#main-unit-character[data-unitsubview="4"] #main-unit-uch-submenu-titles {
	border-bottom-color: cyan;
}

.main-unit-uch-subview {
	display: none;
}
#main-unit-character[data-unitsubview="1"] #main-unit-uch-information,
#main-unit-character[data-unitsubview="2"] #main-unit-uch-skills,
#main-unit-character[data-unitsubview="3"] #main-unit-uch-inventory,
#main-unit-character[data-unitsubview="4"] #main-unit-uch-titles {
	display: block;
}

#main-unit-uch-information {
	width: 100%;
	vertical-align: top;
}
#main-unit-uch-info1,
#main-unit-uch-info2 {
	display: block;
}
#main-unit-uch-info1 {
	margin-right: 10px;
}
/* table info1 */
#main-unit-uch-info1 .main-uch-col1 {
	width: 60px;
}
#main-unit-uch-info1 .main-uch-col2 {
	width: 140px;
	max-width: 140px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#main-unit-uch-info1 .main-uch-col2:hover {
    overflow: visible; 
    white-space: normal;
    height:auto;
    z-index: 9999;
}
/* table info2 */
#main-unit-uch-info2 .main-uch-col1 {
	width: 75px;
}
#main-unit-uch-info2 .main-uch-col2,
#main-unit-uch-info2 .main-uch-col3,
#main-unit-uch-info2 .main-uch-col4,
#main-unit-uch-info2 .main-uch-col5,
#main-unit-uch-info2 .main-uch-col6,
#main-unit-uch-info2 .main-uch-col7, 
#main-unit-uch-info3 .main-uch-col2,
#main-unit-uch-info3 .main-uch-col3,
#main-unit-uch-info3 .main-uch-col7 {
	width: 42px;
	max-width: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#main-unit-uch-info3 .main-uch-col7 {
	width: 118px;
	max-width: inherit;
}

#main-unit-uch-info2 .main-uch-col2:hover,
#main-unit-uch-info2 .main-uch-col3:hover,
#main-unit-uch-info2 .main-uch-col4:hover,
#main-unit-uch-info2 .main-uch-col5:hover,
#main-unit-uch-info2 .main-uch-col6:hover,
#main-unit-uch-info2 .main-uch-col7:hover ,
#main-unit-uch-info3 .main-uch-col2:hover,
#main-unit-uch-info3 .main-uch-col3:hover,
#main-unit-uch-info3 .main-uch-col7:hover {
    overflow: visible; 
    white-space: normal;
    height:auto;
    z-index: 9999;
}
#main-unit-uch-info2 .main-uch-col7:hover {
    direction: rtl;
}
#main-unit-uch-info2 .main-uch-col2:hover .stat-v,
#main-unit-uch-info2 .main-uch-col3:hover .stat-v,
#main-unit-uch-info2 .main-uch-col4:hover .stat-v,
#main-unit-uch-info2 .main-uch-col5:hover .stat-v,
#main-unit-uch-info2 .main-uch-col6:hover .stat-v,
#main-unit-uch-info2 .main-uch-col7:hover .stat-v,
#main-unit-uch-info3 .main-uch-col2:hover .stat-v,
#main-unit-uch-info3 .main-uch-col3:hover .stat-v,
#main-unit-uch-info3 .main-uch-col7:hover .stat-v {
   	background-color: #fff;
   	padding: 0px 2px 1px 2px;
   	margin-left: -5px;
   	margin-right: -3px;
   	border-radius: 5px;
   	border: solid black 1px;
}
#main-unit-uch-info2 td,
#main-unit-uch-info3 td {
	padding: 0 3px;
}
.table-header {
	border-bottom: solid black 1px;
}
.table-lineseparator-top {
	border-top: solid black 1px;
}
.primary-stat-1 {
	background-color: rgba(220,53,69, 0.3);
}
.primary-stat-2 {
	background-color: rgba(76,175,80, 0.3);
}
.primary-stat-3 {
	background-color: rgba(57,155,255, 0.3);
}
.primary-stat-4 {
	background-color: rgba(231,219,116, 0.3);
}
/* data-s
 * 0 = zero
 * 1 = negative
 * 2 = positive
 */
.stat-v[data-s="0"] {
}
.stat-v[data-s="1"] {
	color: #dc3545;
}
.stat-v[data-s="2"] {
	color: #4CAF50;
}
.stat-b[data-s="2"]::before {
	content: "+"
}
#main-unit-uch-info2 .unit-char-stat-primary-total {
	width: 45px;
	max-width: 45px;
	color: #3498DB !important;
}
#main-unit-uch-info2 .unit-char-stat-primary-total .stat-v{
	color: #3498DB !important;
}
.unit-char-stat-primary-name {

}
.unit-char-stat-primary-base,
.unit-char-stat-primary-talent,
.unit-char-stat-primary-skill,
.unit-char-stat-primary-equipment,
.unit-char-stat-primary-status,
.unit-char-stat-primary-total {
	text-align: right;
}

.unit-char-stat-talent-used,
.unit-char-stat-talent-unsused,
.unit-char-stat-talent-nothing,
.unit-char-stat-talent-level,
.unit-char-stat-talent-spirit,
.unit-char-stat-talent-total {
	text-align: right;
}

#main-unit-uch-info4 .stat-v {
	text-align: right;
}

/* Feature TO DO */
.unit-char-stat-talent-spirit {
	color: rgba(0,0,0,0);
}

.label.talent-add,
.unit-char-stat-talent-add-toggle {
	text-align: center;
}
#main-unit-uch-info2 .main-uch-col2 {
	width: 41px !important;
	max-width: 41px !important;
}

.unit-char-stat-talent-add-toggle:hover {
	background-color: rgba(0,255,255,0.5);
}
.talenttoggleshow,
.talenttogglehide {
	cursor: pointer;
	display: none;
	width: 100%;
	height: 100%;
}
.talenttoggleshow[data-v="hidden"],
.talenttogglehide[data-v="shown"] {
	display: block;
}
#main-unit-uch-info3[data-v="hidden"] {
	display: none;
}

.pstat .main-uch-col2,
.talent-add > .main-uch-col2 {
	border-left: solid black 1px;
}

.talent-add .main-uch-col1 {
	width: 75px
}

.talent-add .main-uch-col2,
.talent-add .main-uch-col3 {
	text-align: right;
	width: 42px;
}

.talent-add .main-uch-col7 {
	text-align: right;
	width: 118px;
}

.talent-add.table-header .main-uch-col4,
.talent-add.table-header .main-uch-col5,
.talent-add.table-header .main-uch-col6 {
	font-size: 80%;
}

.talent-add .main-uch-col4,
.talent-add .main-uch-col5,
.talent-add .main-uch-col6 {
	width: 17px;
	text-align: center;
}

.talentupgradebutton:hover {
	color: cyan;
	cursor: pointer;
}
.talentupgradebutton:hover::after {
	position: absolute;
	content: attr(data-v) "\00a0points";
	background-color: rgba(0,0,0,0.6);
	top: -3px;
	left: 15px;
	border-radius: 3px;
	padding: 2px 4px;
	z-index: 99999;
}
.talentupgradebutton[data-v="false"],
.talentupgradebutton[data-v="0"] {
	color: silver;
	cursor: not-allowed;
}
.talentupgradebutton[data-v="false"]:hover::after,
.talentupgradebutton[data-v="0"]:hover::after {
	color: #f88;
	content: "Not\00a0" "enough\00a0points";
}

.unit-char-stat-talent-add-reset,
.unit-char-stat-talent-add-confirm,
.unit-char-stat-talent-add-remaining {
	text-align: center !important;
	border: none !important;
	line-height: 24px;
}

.talentresetbutton,
.talentconfirmbutton {
	padding: 3px 8px;
	border: solid 1px #000000;
	border-radius: 3px;
	cursor: pointer;
}
.talentresetbutton[data-v="0"],
.talentconfirmbutton[data-v="0"] {
	display: none;
}
.talentresetbutton:hover,
.talentconfirmbutton:hover {
	background-color: rgba(0,0,0,0.2);
}

/* Main : Character > Skills subview */






/* Main : Character > Inventory subview */
#main-unit-uch-inventory-equipstat {
	display: block;
}
#main-unit-uch-inventory-equipstat {
	margin-right: 10px;
}
#main-unit-uch-inventory-equipstat .main-uch-col1 {
	width: 60px;
}
#main-unit-uch-inventory-equipstat .main-uch-col2 {
	width: 55px;
}
#main-unit-uch-inventory-equipstat .main-uch-col3 {
	width: 85px;
}

#main-unit-uch-inventory-equipped,
#main-unit-uch-inventory-equipped > div {
	width: 373px;
}
.inventory {
	margin: 5px 0;
	background-image: url("/img/bp/inventory.png");
	background-repeat: repeat;
	min-height: 106px;
	background-position: 2px 2px;
	width: 373px;
}
.inventory .inv-item {
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 3px;
	margin-bottom: 3px;
	position: relative;
	padding: 1px;
}
.inventory .inv-item .inv-item-border,
.inventory .inv-item .inv-item-effect,
.inventory .inv-item .inv-item-stats {
	width: 54px;
	height: 54px;
	position: absolute;
	top: 0;
	left: 0;
}
.inv-item-stats-quality {
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 5px;
	height: 12px;
	text-align: center;
	line-height: 12px;
	font-size: 10px;
	padding: 0 4px;
}
.inv-item-stats-refine {
	position: absolute;
	top: 1px;
	right: 4px;
}
.inv-item-stats-durability {
	position: absolute;
	bottom: 0px;
	right: 4px;
	font-size: 75%;
}
.inv-item-stats-gems {
	position: absolute;
	bottom: 0px;
	left: 4px;
}


/* Main : Character > Titles subview */





/*************************\
 *** Map View  ***********
\*************************/

/*************************\
 *** Logs ****************
\*************************/

/*** Templates to hide ***/
#party-group-tmp,
#party-raid-tmp,
#unit-char-tmp,
#unit-trns-tmp,
#pt-leader-tmp {
	display: none;
}