<!DOCTYPE html>
<div id="main-title" class="view-title" data-view="0">
	<h3>
		<span id="main-title-overview" class="body-title">Overview</span>
		<span id="main-title-information" class="body-title">
			<span class="body-subtitle-container">
				<span id="main-title-party" class="body-subtitle">Group&nbsp;View</span>
				<span id="main-title-unit-character" class="body-subtitle"><!-- Character&nbsp;View&nbsp;>&nbsp; -->
					<span id="main-title-unit-character-info"></span><span id="main-title-unit-character-info2"></span>
				</span>
				<span id="main-title-unit-transport" class="body-subtitle">Transport&nbsp;View</span>
				<span id="main-title-map" class="body-subtitle">Map&nbsp;View</span>
			</span>
		</span>
		<span id="main-title-information2" class="body-title">
			<span class="body-subtitle-container">
				<span id="main-title-party-new" class="body-subtitle">Create Party</span>
			</span>
		</span>
	</h3>
</div>
<div id="main-body" class="subview-body" data-view="0">
	<section id="main-overview">Overview body</section>
	<section id="main-group" data-groupsubview="1">
		<div id="main-group-submenu" class="main-subview-menu">
			<ul class="horizontal links">
				<li id="main-group-submenu-overview">General</li>
				<li id="main-group-submenu-units">Units</li>
				<li id="main-group-submenu-inventories">Inventories</li>
				<li id="main-group-submenu-tasks">Tasks</li>
				<li id="main-group-submenu-map">Map</li>
			</ul>
		</div>
		<div id="main-group-body" class="main-subview-body">
			<section id="main-group-body-overview" class="show">
				Overview BODY
			</section>
			<section id="main-group-body-units" class="show">
				Units BODY
			</section>
			<section id="main-group-body-inventories" class="show">
				Inventories BODY
			</section>
			<section id="main-group-body-tasks" class="show">
				Tasks BODY
			</section>
			<section id="main-group-body-map" class="show">
				Map BODY
			</section>
		</div>
	</section>
	<section id="main-raid">
		RAID BODY
	</section>
	<section id="main-party-new">
		<div id="main-party-new-selection" data-unitcount="0">
			<div id="main-pn-leader">
				<h3>Choose a Party Leader</h3>
				<ul id="pt-leader-list" class="item-list">
					<li id="pt-leader-tmp" class="unit-char" data-unitid="0" data-unitrace="0" data-unitlevel="0" data-unitgender="0">
						<span id="unit-char-tmp-name" class="unit-name">%CHAR_NAME%</span>
						<span class="unit-gender">
							<svg class="si-glyph si-glyph-male" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<path d="M16.875,5.884 L16.875,0.125 L11.113,0.125 L13.336,2.346 L9.633,6.057 C8.748,5.429 7.668,5.055 6.502,5.055 C3.498,5.055 1.055,7.507 1.055,10.522 C1.055,13.538 3.498,15.99 6.502,15.99 C9.504,15.99 11.946,13.538 11.946,10.522 C11.946,9.344 11.568,8.254 10.935,7.361 L14.637,3.649 L16.875,5.884 L16.875,5.884 Z M6.464,14.165 C4.518,14.165 2.932,12.584 2.932,10.635 C2.932,8.689 4.518,7.106 6.464,7.106 C8.41,7.106 9.996,8.689 9.996,10.635 C9.996,12.584 8.41,14.165 6.464,14.165 L6.464,14.165 Z" fill="#434343" class="si-glyph-fill"></path>
								</g>
							</svg>
							<svg class="si-glyph si-glyph-female" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<path d="M9.982,9.965 C12.225,9.495 13.916,7.485 13.916,5.082 C13.916,2.331 11.701,0.094 8.978,0.094 C6.257,0.094 4.042,2.331 4.042,5.082 C4.042,7.494 5.746,9.512 8.001,9.97 L8.001,12.043 L5.062,12.043 L5.062,13.968 L8.001,13.968 L8.001,15.969 L9.981,15.969 L9.981,13.968 L12.874,13.968 L12.874,12.043 L9.981,12.043 L9.981,9.965 L9.982,9.965 Z M5.934,4.955 C5.934,3.187 7.301,1.75 8.979,1.75 C10.659,1.75 12.024,3.188 12.024,4.955 C12.024,6.722 10.659,8.158 8.979,8.158 C7.301,8.158 5.934,6.722 5.934,4.955 L5.934,4.955 Z" fill="#434343" class="si-glyph-fill"></path>
								</g>
							</svg>
						</span>
						<span class="unit-livingstatus">
							<span data-v="0" class="unit-level ulv badge"></span>
							<span data-v="0" class="unit-stamina ust">🔥</span>
							<span data-v="0" class="unit-satiety usa">🍴</span>
							<span data-v="0" class="unit-energy uen">💧</span>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="main-unit-character" data-unitindex="0" data-unitsubview="1">
		<div id="main-unit-uch-submenu">
			<ul class="horizontal links">
				<li id="main-unit-uch-submenu-information">Information</li>
				<li id="main-unit-uch-submenu-skills">Skills</li>
				<li id="main-unit-uch-submenu-inventory">Inventory (#/#)</li>
				<li id="main-unit-uch-submenu-titles">Titles (#)</li>
			</ul>
		</div>
		<div id="main-unit-uch-information" class="main-unit-uch-subview">
			<table id="main-unit-uch-info1" class="float float-left">
				<tbody>
					<tr><td class="main-uch-col1">Name</td><td id="main-uch-name" class="main-uch-col2"></td></tr>
					<tr><td>Race</td><td id="main-uch-race"></td></tr>
					<tr><td>Gender</td><td id="main-uch-gender"></td></tr>
					<tr><td>Level</td><td id="main-uch-level"></td></tr>
					<tr><td colspan="2" id="main-uch-exp"  class="center">
						<div id="main-uch-exp-progressbar" class="progressbar">
							<div id="main-uch-exp-progress" class="progress" data-exppercent="0"></div>
							<div id="main-uch-exptext" class="progressnumber"><span id="main-uch-exp-current"></span>&nbsp;/&nbsp;<span id="main-uch-exp-total"></span></div>
						</div>
					</td></tr>
					<tr><td>Total Exp</td><td id="main-uch-exptotal"></td></tr>
					<tr><td>Rest Exp</td><td id="main-uch-expectedexp"></td></tr>
					<tr><td>Spirit</td><td id="main-uch-exptospirit"></td></tr>
					<tr><td colspan="2">&nbsp;</td></tr>
					<tr><td><i class="staticon">❤</i> Health</td><td id="main-uch-health" class="main-uch-col2 right"><span id="main-uch-health-current"></span>&nbsp;/&nbsp;<span id="main-uch-health-max"></span>&nbsp;(<span id="main-uch-health-percent"></span>)</td></tr>
					<tr><td><i class="staticon">🔥</i> Stamina</td><td id="main-uch-stamina" class="main-uch-col2 right"><span id="main-uch-stamina-current"></span>&nbsp;/&nbsp;<span id="main-uch-stamina-max"></span>&nbsp;(<span id="main-uch-stamina-percent"></span>)</td></tr>
					<tr><td><i class="staticon">🍴</i> Satiety</td><td id="main-uch-satiety" class="main-uch-col2 right"><span id="main-uch-satiety-current"></span>&nbsp;/&nbsp;<span id="main-uch-satiety-max"></span>&nbsp;(<span id="main-uch-satiety-percent"></span>)</td></tr>
					<tr><td><i class="staticon">💧</i> Energy</td><td id="main-uch-energy" class="main-uch-col2 right"><span id="main-uch-energy-current"></span>&nbsp;/&nbsp;<span id="main-uch-energy-max"></span>&nbsp;(<span id="main-uch-energy-percent"></span>)</td></tr>
					<tr><td>State</td><td id="main-uch-state"></td></tr>
					<tr><td colspan="2">&nbsp;</td></tr>
					<tr><td>Party</td><td id="main-uch-party">Not assigned</td></tr>
					<tr><td colspan="2">&nbsp;</td></tr>
					<tr><td>Status</td><td id="main-uch-status"></td></tr>
					<tr><td>ticks</td><td id="main-uch-ticks">
						Stamina <span id="main-uch-ticks-stamina"></span><br>
						Satiety <span id="main-uch-ticks-satiety"></span><br>
						Energy <span id="main-uch-ticks-energy"></span><br>
					</td></tr>
				</tbody>
			</table>
			<table id="main-unit-uch-info2" class="float float-left">
				<tbody>
					<tr class="table-header pstat">
						<td class="main-uch-col1 unit-char-stat-primary-name">Primary Stats</th>
						<td class="main-uch-col2 unit-char-stat-primary-base"><span id="main-uch-stat-label-base">Base</span></td>
						<td class="main-uch-col3 unit-char-stat-primary-talent"><span id="main-uch-stat-label-talent">Talent</span></td>
						<td class="main-uch-col4 unit-char-stat-primary-skill"><span id="main-uch-stat-label-skill">Skill</span></td>
						<td class="main-uch-col5 unit-char-stat-primary-equipment"><span id="main-uch-stat-label-equipment">Equip</span></td>
						<td class="main-uch-col6 unit-char-stat-primary-status"><span id="main-uch-stat-label-status">Status</span></td>
						<td class="main-uch-col7 unit-char-stat-primary-total-label"><span id="main-uch-stat-label-total">Total</span></td>
					</tr>
					<tr class="pstat primary-stat-1">
						<td class="main-uch-col1 unit-char-stat-primary-name">Strength</td>
						<td class="main-uch-col2 unit-char-stat-primary-base"><span id="main-uch-stat-strength-base" class="stat-v" data-s="0"></span></td>
						<td class="main-uch-col3 unit-char-stat-primary-talent"><span id="main-uch-stat-strength-talent" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col4 unit-char-stat-primary-skill"><span id="main-uch-stat-strength-skill" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col5 unit-char-stat-primary-equipment"><span id="main-uch-stat-strength-equipment" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col6 unit-char-stat-primary-status"><span id="main-uch-stat-strength-status" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col7 unit-char-stat-primary-total"><span id="main-uch-stat-strength-total" class="stat-v" data-s="0"></span></td>
					</tr>
					<tr class="pstat primary-stat-1">
						<td class="main-uch-col1 unit-char-stat-primary-name">Constitution</td>
						<td class="main-uch-col2 unit-char-stat-primary-base"><span id="main-uch-stat-constitution-base" class="stat-v" data-s="0"></span></td>
						<td class="main-uch-col3 unit-char-stat-primary-talent"><span id="main-uch-stat-constitution-talent" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col4 unit-char-stat-primary-skill"><span id="main-uch-stat-constitution-skill" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col5 unit-char-stat-primary-equipment"><span id="main-uch-stat-constitution-equipment" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col6 unit-char-stat-primary-status"><span id="main-uch-stat-constitution-status" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col7 unit-char-stat-primary-total"><span id="main-uch-stat-constitution-total" class="stat-v" data-s="0"></span></td>
					</tr>
					<tr class="pstat primary-stat-2">
						<td class="main-uch-col1 unit-char-stat-primary-name">Agility</td>
						<td class="main-uch-col2 unit-char-stat-primary-base"><span id="main-uch-stat-agility-base" class="stat-v" data-s="0"></span></td>
						<td class="main-uch-col3 unit-char-stat-primary-talent"><span id="main-uch-stat-agility-talent" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col4 unit-char-stat-primary-skill"><span id="main-uch-stat-agility-skill" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col5 unit-char-stat-primary-equipment"><span id="main-uch-stat-agility-equipment" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col6 unit-char-stat-primary-status"><span id="main-uch-stat-agility-status" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col7 unit-char-stat-primary-total"><span id="main-uch-stat-agility-total" class="stat-v" data-s="0"></span></td>
					</tr>
					<tr class="pstat primary-stat-2">
						<td class="main-uch-col1 unit-char-stat-primary-name">Dexterity</td>
						<td class="main-uch-col2 unit-char-stat-primary-base"><span id="main-uch-stat-dexterity-base" class="stat-v" data-s="0"></span></td>
						<td class="main-uch-col3 unit-char-stat-primary-talent"><span id="main-uch-stat-dexterity-talent" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col4 unit-char-stat-primary-skill"><span id="main-uch-stat-dexterity-skill" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col5 unit-char-stat-primary-equipment"><span id="main-uch-stat-dexterity-equipment" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col6 unit-char-stat-primary-status"><span id="main-uch-stat-dexterity-status" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col7 unit-char-stat-primary-total"><span id="main-uch-stat-dexterity-total" class="stat-v" data-s="0"></span></td>
					</tr>
					<tr class="pstat primary-stat-3">
						<td class="main-uch-col1 unit-char-stat-primary-name">Intelligence</td>
						<td class="main-uch-col2 unit-char-stat-primary-base"><span id="main-uch-stat-intelligence-base" class="stat-v" data-s="0"></span></td>
						<td class="main-uch-col3 unit-char-stat-primary-talent"><span id="main-uch-stat-intelligence-talent" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col4 unit-char-stat-primary-skill"><span id="main-uch-stat-intelligence-skill" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col5 unit-char-stat-primary-equipment"><span id="main-uch-stat-intelligence-equipment" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col6 unit-char-stat-primary-status"><span id="main-uch-stat-intelligence-status" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col7 unit-char-stat-primary-total"><span id="main-uch-stat-intelligence-total" class="stat-v" data-s="0"></span></td>
					</tr>
					<tr class="pstat primary-stat-3">
						<td class="main-uch-col1 unit-char-stat-primary-name">Wisdom</td>
						<td class="main-uch-col2 unit-char-stat-primary-base"><span id="main-uch-stat-wisdom-base" class="stat-v" data-s="0"></span></td>
						<td class="main-uch-col3 unit-char-stat-primary-talent"><span id="main-uch-stat-wisdom-talent" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col4 unit-char-stat-primary-skill"><span id="main-uch-stat-wisdom-skill" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col5 unit-char-stat-primary-equipment"><span id="main-uch-stat-wisdom-equipment" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col6 unit-char-stat-primary-status"><span id="main-uch-stat-wisdom-status" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col7 unit-char-stat-primary-total"><span id="main-uch-stat-wisdom-total" class="stat-v" data-s="0"></span></td>
					</tr>
					<tr class="pstat primary-stat-4">
						<td class="main-uch-col1 unit-char-stat-primary-name">Charm</td>
						<td class="main-uch-col2 unit-char-stat-primary-base"><span id="main-uch-stat-charm-base" class="stat-v" data-s="0"></span></td>
						<td class="main-uch-col3 unit-char-stat-primary-talent"><span id="main-uch-stat-charm-talent" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col4 unit-char-stat-primary-skill"><span id="main-uch-stat-charm-skill" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col5 unit-char-stat-primary-equipment"><span id="main-uch-stat-charm-equipment" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col6 unit-char-stat-primary-status"><span id="main-uch-stat-charm-status" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col7 unit-char-stat-primary-total"><span id="main-uch-stat-charm-total" class="stat-v" data-s="0"></span></td>
					</tr>
					<tr class="pstat primary-stat-4">
						<td class="main-uch-col1 unit-char-stat-primary-name">Luck</td>
						<td class="main-uch-col2 unit-char-stat-primary-base"><span id="main-uch-stat-luck-base" class="stat-v" data-s="0"></span></td>
						<td class="main-uch-col3 unit-char-stat-primary-talent"><span id="main-uch-stat-luck-talent" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col4 unit-char-stat-primary-skill"><span id="main-uch-stat-luck-skill" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col5 unit-char-stat-primary-equipment"><span id="main-uch-stat-luck-equipment" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col6 unit-char-stat-primary-status"><span id="main-uch-stat-luck-status" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col7 unit-char-stat-primary-total"><span id="main-uch-stat-luck-total" class="stat-v" data-s="0"></span></td>
					</tr>
					<tr class="pstat primary-stat-5 table-lineseparator-top">
						<td class="main-uch-col1 unit-char-stat-primary-name">=)</td>
						<td class="main-uch-col2 unit-char-stat-primary-base"><span id="main-uch-stat-allstats-base" class="stat-v" data-s="0"></span></td>
						<td class="main-uch-col3 unit-char-stat-primary-talent"><span id="main-uch-stat-allstats-talent" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col4 unit-char-stat-primary-skill"><span id="main-uch-stat-allstats-skill" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col5 unit-char-stat-primary-equipment"><span id="main-uch-stat-allstats-equipment" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col6 unit-char-stat-primary-status"><span id="main-uch-stat-allstats-status" class="stat-v stat-b" data-s="0"></span></td>
						<td class="main-uch-col7 unit-char-stat-primary-total"><span id="main-uch-stat-allstats-total" class="stat-v" data-s="0"></span></td>
					</tr>
					<tr><td colspan="7">&nbsp;</td></tr>
					<tr class="table-lineseparator-top">
						<td class="main-uch-col1 unit-char-stat-talent-label" rowspan="2">Talent Points</td>
						<td class="main-uch-col2 unit-char-stat-talent-used">Used</td>
						<td class="main-uch-col3 unit-char-stat-talent-unsused">Unused</td>
						<td class="main-uch-col4 unit-char-stat-talent-nothing">from</td>
						<td class="main-uch-col5 unit-char-stat-talent-level">Level</td>
						<td class="main-uch-col6 unit-char-stat-talent-spirit">Spirit</td>
						<td class="main-uch-col7 unit-char-stat-talent-total">Total</td>
					</tr>
					<tr>
						<!-- <td class="main-uch-col1 unit-char-stat-talent-label">Talent Points</td> -->
						<td class="main-uch-col2 unit-char-stat-talent-used"><span id="main-uch-stat-talent-used"></span></td>
						<td class="main-uch-col3 unit-char-stat-talent-unsused"><span id="main-uch-stat-talent-unused"></span></td>
						<td class="main-uch-col4 unit-char-stat-talent-nothing">&nbsp;</td>
						<td class="main-uch-col5 unit-char-stat-talent-level"><span id="main-uch-stat-talent-level"></span></td>
						<td class="main-uch-col6 unit-char-stat-talent-spirit"><span id="main-uch-stat-talent-spirit"></span></td>
						<td class="main-uch-col7 unit-char-stat-talent-total"><span id="main-uch-stat-talent-total"></span></td>
					</tr>
					<tr class="table-lineseparator-top"><td class="unit-char-stat-talent-add-toggle" colspan="7">
						<span id="main-uch-talent-add-show-button" class="talenttoggleshow" data-v="hidden">▼</span>
						<span id="main-uch-talent-add-hide-button" class="talenttogglehide" data-v="hidden">▲</span>
					</td></tr>
				</tbody>
			</table>
			<table id="main-unit-uch-info3" class="float float-left" data-v="hidden">
				<tbody>
					<tr class="label talent-add table-header">
						<td class="main-uch-col1 unit-char-stat-talent-add-label">Spend Points</td>
						<td class="main-uch-col2 unit-char-stat-talent-add-upgrade"><span id="main-uch-talent-add-upgrade">Upgrade</span></td>
						<td class="main-uch-col3 unit-char-stat-talent-add-new"><span id="main-uch-talent-add-new">New</span></td>
						<td class="main-uch-col4 unit-char-stat-talent-add-button"><span id="main-uch-talent-add-button">+1</span></td>
						<td class="main-uch-col5 unit-char-stat-talent-add-button2"><span id="main-uch-talent-add-button2">+10</span></td>
						<td class="main-uch-col6 unit-char-stat-talent-add-button3"><span id="main-uch-talent-add-button3">Max</span></td>
						<td class="main-uch-col7 unit-char-stat-talent-add-pointsused"><span id="main-uch-talent-add-pointsused">Points used</span></td>
					</tr>
					<tr class="talent-add primary-stat-1">
						<td class="main-uch-col1 unit-char-stat-talent-add-name">Strength</td>
						<td class="main-uch-col2 unit-char-stat-talent-add-upgrade"><span id="main-uch-talent-add-strength-upgrade" class="stat-v"></span></td>
						<td class="main-uch-col3 unit-char-stat-talent-add-new"><span id="main-uch-talent-add-strength-new" class="stat-v"></span></td>
						<td class="main-uch-col4 unit-char-stat-talent-add-button1">
							<span id="main-uch-talent-add-strength-button1" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col5 unit-char-stat-talent-add-button2">
							<span id="main-uch-talent-add-strength-button2" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col6 unit-char-stat-talent-add-button3">
							<span id="main-uch-talent-add-strength-button3" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col7 unit-char-stat-talent-add-pointsused">
							<span id="main-uch-talent-add-strength-pointsused-default" class="stat-v"></span>
							(+<span id="main-uch-talent-add-strength-pointsused-upgrade" class="stat-v"></span>)
						</td>
					</tr>
					<tr class="talent-add primary-stat-1">
						<td class="main-uch-col1 unit-char-stat-talent-add-name">Constitution</td>
						<td class="main-uch-col2 unit-char-stat-talent-add-upgrade"><span id="main-uch-talent-add-constitution-upgrade" class="stat-v"></span></td>
						<td class="main-uch-col3 unit-char-stat-talent-add-new"><span id="main-uch-talent-add-constitution-new" class="stat-v"></span></td>
						<td class="main-uch-col4 unit-char-stat-talent-add-button1">
							<span id="main-uch-talent-add-constitution-button1" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col5 unit-char-stat-talent-add-button2">
							<span id="main-uch-talent-add-constitution-button2" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col6 unit-char-stat-talent-add-button3">
							<span id="main-uch-talent-add-constitution-button3" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col7 unit-char-stat-talent-add-pointsused">
							<span id="main-uch-talent-add-constitution-pointsused-default" class="stat-v"></span>
							(+<span id="main-uch-talent-add-constitution-pointsused-upgrade" class="stat-v"></span>)
						</td>
					</tr>
					<tr class="talent-add primary-stat-2">
						<td class="main-uch-col1 unit-char-stat-talent-add-name">Agility</td>
						<td class="main-uch-col2 unit-char-stat-talent-add-upgrade"><span id="main-uch-talent-add-agility-upgrade" class="stat-v"></span></td>
						<td class="main-uch-col3 unit-char-stat-talent-add-new"><span id="main-uch-talent-add-agility-new" class="stat-v"></span></td>
						<td class="main-uch-col4 unit-char-stat-talent-add-button1">
							<span id="main-uch-talent-add-agility-button1" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col5 unit-char-stat-talent-add-button2">
							<span id="main-uch-talent-add-agility-button2" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col6 unit-char-stat-talent-add-button3">
							<span id="main-uch-talent-add-agility-button3" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col7 unit-char-stat-talent-add-pointsused">
							<span id="main-uch-talent-add-agility-pointsused-default" class="stat-v"></span>
							(+<span id="main-uch-talent-add-agility-pointsused-upgrade" class="stat-v"></span>)
						</td>
					</tr>
					<tr class="talent-add primary-stat-2">
						<td class="main-uch-col1 unit-char-stat-talent-add-name">Dexterity</td>
						<td class="main-uch-col2 unit-char-stat-talent-add-upgrade"><span id="main-uch-talent-add-dexterity-upgrade" class="stat-v"></span></td>
						<td class="main-uch-col3 unit-char-stat-talent-add-new"><span id="main-uch-talent-add-dexterity-new" class="stat-v"></span></td>
						<td class="main-uch-col4 unit-char-stat-talent-add-button1">
							<span id="main-uch-talent-add-dexterity-button1" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col5 unit-char-stat-talent-add-button2">
							<span id="main-uch-talent-add-dexterity-button2" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col6 unit-char-stat-talent-add-button3">
							<span id="main-uch-talent-add-dexterity-button3" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col7 unit-char-stat-talent-add-pointsused">
							<span id="main-uch-talent-add-dexterity-pointsused-default" class="stat-v"></span>
							(+<span id="main-uch-talent-add-dexterity-pointsused-upgrade" class="stat-v"></span>)
						</td>
					</tr>
					<tr class="talent-add primary-stat-3">
						<td class="main-uch-col1 unit-char-stat-talent-add-name">Intelligence</td>
						<td class="main-uch-col2 unit-char-stat-talent-add-upgrade"><span id="main-uch-talent-add-intelligence-upgrade" class="stat-v"></span></td>
						<td class="main-uch-col3 unit-char-stat-talent-add-new"><span id="main-uch-talent-add-intelligence-new" class="stat-v"></span></td>
						<td class="main-uch-col4 unit-char-stat-talent-add-button1">
							<span id="main-uch-talent-add-intelligence-button1" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col5 unit-char-stat-talent-add-button2">
							<span id="main-uch-talent-add-intelligence-button2" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col6 unit-char-stat-talent-add-button3">
							<span id="main-uch-talent-add-intelligence-button3" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col7 unit-char-stat-talent-add-pointsused">
							<span id="main-uch-talent-add-intelligence-pointsused-default" class="stat-v"></span>
							(+<span id="main-uch-talent-add-intelligence-pointsused-upgrade" class="stat-v"></span>)
						</td>
					</tr>
					<tr class="talent-add primary-stat-3">
						<td class="main-uch-col1 unit-char-stat-talent-add-name">Wisdom</td>
						<td class="main-uch-col2 unit-char-stat-talent-add-upgrade"><span id="main-uch-talent-add-wisdom-upgrade" class="stat-v"></span></td>
						<td class="main-uch-col3 unit-char-stat-talent-add-new"><span id="main-uch-talent-add-wisdom-new" class="stat-v"></span></td>
						<td class="main-uch-col4 unit-char-stat-talent-add-button1">
							<span id="main-uch-talent-add-wisdom-button1" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col5 unit-char-stat-talent-add-button2">
							<span id="main-uch-talent-add-wisdom-button2" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col6 unit-char-stat-talent-add-button3">
							<span id="main-uch-talent-add-wisdom-button3" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col7 unit-char-stat-talent-add-pointsused">
							<span id="main-uch-talent-add-wisdom-pointsused-default" class="stat-v"></span>
							(+<span id="main-uch-talent-add-wisdom-pointsused-upgrade" class="stat-v"></span>)
						</td>
					</tr>
					<tr class="talent-add primary-stat-4">
						<td class="main-uch-col1 unit-char-stat-talent-add-name">Charm</td>
						<td class="main-uch-col2 unit-char-stat-talent-add-upgrade"><span id="main-uch-talent-add-charm-upgrade" class="stat-v"></span></td>
						<td class="main-uch-col3 unit-char-stat-talent-add-new"><span id="main-uch-talent-add-charm-new" class="stat-v"></span></td>
						<td class="main-uch-col4 unit-char-stat-talent-add-button1">
							<span id="main-uch-talent-add-charm-button1" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col5 unit-char-stat-talent-add-button2">
							<span id="main-uch-talent-add-charm-button2" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col6 unit-char-stat-talent-add-button3">
							<span id="main-uch-talent-add-charm-button3" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col7 unit-char-stat-talent-add-pointsused">
							<span id="main-uch-talent-add-charm-pointsused-default" class="stat-v"></span>
							(+<span id="main-uch-talent-add-charm-pointsused-upgrade" class="stat-v"></span>)
						</td>
					</tr>
					<tr class="talent-add primary-stat-4">
						<td class="main-uch-col1 unit-char-stat-talent-add-name">Luck</td>
						<td class="main-uch-col2 unit-char-stat-talent-add-upgrade"><span id="main-uch-talent-add-luck-upgrade" class="stat-v"></span></td>
						<td class="main-uch-col3 unit-char-stat-talent-add-new"><span id="main-uch-talent-add-luck-new" class="stat-v"></span></td>
						<td class="main-uch-col4 unit-char-stat-talent-add-button1">
							<span id="main-uch-talent-add-luck-button1" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col5 unit-char-stat-talent-add-button2">
							<span id="main-uch-talent-add-luck-button2" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col6 unit-char-stat-talent-add-button3">
							<span id="main-uch-talent-add-luck-button3" class="talentupgradebutton" data-v="0">▶</span></td>
						<td class="main-uch-col7 unit-char-stat-talent-add-pointsused">
							<span id="main-uch-talent-add-luck-pointsused-default" class="stat-v"></span>
							(+<span id="main-uch-talent-add-luck-pointsused-upgrade" class="stat-v"></span>)
						</td>
					</tr>
					<tr class="talent-add primary-stat-5">
						<td class="main-uch-col1 unit-char-stat-talent-add-reset">
							<span id="main-uch-talent-reset-button" class="talentresetbutton" data-v="0">Reset</span>
						</td>
						<td class="main-uch-col2 unit-char-stat-talent-add-confirm" colspan="2">
							<span id="main-uch-talent-confirm-button" class="talentconfirmbutton" data-v="0">Confirm</span>
						</td>
						<td class="main-uch-col4 unit-char-stat-talent-add-remaining" colspan="3">Remaining</td>
						<td class="main-uch-col7 unit-char-stat-talent-add-pointsused">
							<span id="main-uch-talent-add-total-unused"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<table id="main-unit-uch-info4" class="float float-left">
				<tbody>
					<tr><td>Threat</td><td id="main-uch-threat" class="stat-v"></td></tr>
					<tr><td>Tenacity</td><td id="main-uch-tenacity" class="stat-v"></td></tr>
					<tr><td>Willpower</td><td id="main-uch-willpower" class="stat-v"></td></tr>
					<tr><td>Evasion</td><td id="main-uch-evasion" class="stat-v"></td></tr>
					<tr><td>Dodge</td><td id="main-uch-dodge" class="stat-v"></td></tr>
					<tr><td>---</td><td>---</td></tr>
					<tr><td>Attack</td><td id="main-uch-base-attack" class="stat-v"></td></tr>
					<tr><td>Magic Power</td><td id="main-uch-base-magicpower" class="stat-v"></td></tr>
					<tr><td>Penetration</td><td id="main-uch-base-penetration" class="stat-v"></td></tr>
					<tr><td>Accuracy</td><td id="main-uch-base-accuracy" class="stat-v"></td></tr>
					<tr><td>Critical</td><td id="main-uch-base-critical" class="stat-v"></td></tr>
					<tr><td>Critical Damage</td><td id="main-uch-base-criticaldamage" class="stat-v"></td></tr>
					<tr><td>Parry</td><td id="main-uch-base-parry" class="stat-v"></td></tr>
					<tr><td>Block</td><td id="main-uch-base-block" class="stat-v"></td></tr>
				</tbody>
			</table>
		</div>
		<div id="main-unit-uch-skills" class="main-unit-uch-subview">
			Character Skills
		</div>
		<div id="main-unit-uch-inventory" class="main-unit-uch-subview">
			<table id="main-unit-uch-inventory-equipstat" class="float float-left">
				<tbody>
					<tr><th colspan="3">Equip Limit</th></tr>
					<tr><td class="main-uch-col1"></td><td class="main-uch-col2 right">Current</td><td class="main-uch-col3 right">Limit</td></tr>
					<tr><td>Head</td><td id="main-uch-inv-es-head-current" class="right"></td><td id="main-uch-inv-es-head-limit" class="right"></td></tr>
					<tr><td>Ears</td><td id="main-uch-inv-es-ears-current" class="right"></td><td id="main-uch-inv-es-ears-limit" class="right"></td></tr>
					<tr><td>Neck</td><td id="main-uch-inv-es-neck-current" class="right"></td><td id="main-uch-inv-es-neck-limit" class="right"></td></tr>
					<tr><td>Chest</td><td id="main-uch-inv-es-chest-current" class="right"></td><td id="main-uch-inv-es-chest-limit" class="right"></td></tr>
					<tr><td>Arms</td><td id="main-uch-inv-es-arms-current" class="right"></td><td id="main-uch-inv-es-arms-limit" class="right"></td></tr>
					<tr><td>Hands</td><td id="main-uch-inv-es-hands-current" class="right"></td><td id="main-uch-inv-es-hands-limit" class="right"></td></tr>
					<tr><td>Legs</td><td id="main-uch-inv-es-legs-current" class="right"></td><td id="main-uch-inv-es-legs-limit" class="right"></td></tr>
					<tr><td>Feets</td><td id="main-uch-inv-es-feets-current" class="right"></td><td id="main-uch-inv-es-feets-limit" class="right"></td></tr>
					<tr><td>Total</td><td id="main-uch-inv-es-total-current" class="right"></td><td id="main-uch-inv-es-total-limit" class="right"></td></tr>
					<tr><td id="main-uch-inv-es-debug" colspan="3" class="right"></td></tr>
					<tr><td id="main-uch-inv-equip-stats-title" colspan="3">Stats from equipments</td></tr>
					<tr><td id="main-uch-inv-equip-stats-data">here</td></tr>
				</tbody>
			</table>
			<div id="main-unit-uch-inventory-equipped" class="float float-left">
				<div id="main-unit-uch-inv-eq-main-header"><span>Main</span></div>
				<div id="main-unit-uch-inv-eq-main-body" class="inventory-container">
					<ul class="inventory">
					    <li id="item-id" class="inv-item" data-type="2" data-id="0" data-itemid="0" data-quality="1">
					    	<div id="item-type-id" class="inv-item-type" data-type="2"></div>
					    	<div id="item-image-id" class="inv-item-image" data-itemid="0"></div>
					    	<div id="item-border-id" class="inv-item-border" data-rarity="1"></div>
					    	<div id="item-effect-id" class="inv-item-effect" data-sp="0"></div>
					    	<div class="inv-item-stats">
					    		<span id="item-quality-id" class="inv-item-stats-quality" data-rarity="1">1</span>
					    		<span class="inv-item-stats-refine">+<span id="item-refine-id" class="istat-refine">0</span></span>
					    		<span class="inv-item-stats-durability"><span id="item-durability-id" class="istat-durability">0</span>%</span>
					    		<span class="inv-item-stats-gems">
					    			<span id="item-gem1-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem2-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem3-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem4-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem5-id" class="istat-gem" data-gem="0"></span>
					    		</span>
					    	</div>
					    </li>
					    <li id="item-id2" class="inv-item" data-type="2" data-id="0" data-itemid="0" data-quality="15">
					    	<div id="item-type-id" class="inv-item-type" data-type="2"></div>
					    	<div id="item-image-id" class="inv-item-image" data-itemid="0"></div>
					    	<div id="item-border-id" class="inv-item-border" data-rarity="2"></div>
					    	<div id="item-effect-id" class="inv-item-effect" data-sp="0"></div>
					    	<div class="inv-item-stats">
					    		<span id="item-quality-id" class="inv-item-stats-quality" data-rarity="2">15</span>
					    		<span class="inv-item-stats-refine">+<span id="item-refine-id" class="istat-refine">0</span></span>
					    		<span class="inv-item-stats-durability"><span id="item-durability-id" class="istat-durability">0</span>%</span>
					    		<span class="inv-item-stats-gems">
					    			<span id="item-gem1-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem2-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem3-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem4-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem5-id" class="istat-gem" data-gem="0"></span>
					    		</span>
					    	</div>
					    </li>
					    <li id="item-id2" class="inv-item" data-type="2" data-id="0" data-itemid="0" data-quality="34">
					    	<div id="item-type-id" class="inv-item-type" data-type="2"></div>
					    	<div id="item-image-id" class="inv-item-image" data-itemid="0"></div>
					    	<div id="item-border-id" class="inv-item-border" data-rarity="3"></div>
					    	<div id="item-effect-id" class="inv-item-effect" data-sp="0"></div>
					    	<div class="inv-item-stats">
					    		<span id="item-quality-id" class="inv-item-stats-quality" data-rarity="3">34</span>
					    		<span class="inv-item-stats-refine">+<span id="item-refine-id" class="istat-refine">0</span></span>
					    		<span class="inv-item-stats-durability"><span id="item-durability-id" class="istat-durability">0</span>%</span>
					    		<span class="inv-item-stats-gems">
					    			<span id="item-gem1-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem2-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem3-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem4-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem5-id" class="istat-gem" data-gem="0"></span>
					    		</span>
					    	</div>
					    </li>
					    <li id="item-id2" class="inv-item" data-type="2" data-id="0" data-itemid="0" data-quality="675">
					    	<div id="item-type-id" class="inv-item-type" data-type="2"></div>
					    	<div id="item-image-id" class="inv-item-image" data-itemid="0"></div>
					    	<div id="item-border-id" class="inv-item-border" data-rarity="6"></div>
					    	<div id="item-effect-id" class="inv-item-effect" data-sp="0"></div>
					    	<div class="inv-item-stats">
					    		<span id="item-quality-id" class="inv-item-stats-quality" data-rarity="6">675</span>
					    		<span class="inv-item-stats-refine">+<span id="item-refine-id" class="istat-refine">0</span></span>
					    		<span class="inv-item-stats-durability"><span id="item-durability-id" class="istat-durability">0</span>%</span>
					    		<span class="inv-item-stats-gems">
					    			<span id="item-gem1-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem2-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem3-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem4-id" class="istat-gem" data-gem="0"></span>
					    			<span id="item-gem5-id" class="istat-gem" data-gem="0"></span>
					    		</span>
					    	</div>
					    </li>
					</ul>
				</div>
			</div>
		</div>
		<div id="main-unit-uch-titles" class="main-unit-uch-subview">
			Character Titles
		</div>

		
	</section>
	<section id="main-unit-transport">Transport view body</section>
	<section id="main-map">map view body</section>
</div>
<div id="bodyview-loaded" class="hidden"></div>