<!DOCTYPE html>
<div class="view-title"><h3>Character Parties</h3></div>
<div id="party-submenu" class="subview-title" data-view="0">
    <ul class="horizontal links">
        <li id="setdata-party-groups">Groups (<span id="groupcount">0</span>)</li>
        <li id="setdata-party-raids">Raids (<span id="raidcount">0</span>)</li>
        <li id="setdata-party-newparty">Create</li>
    </ul>
</div>
<div id="party-body" class="subview-body" data-view="0">
    <section id="party-groups" class="show">
        <ul id="party-group-list" class="item-list">
            <li id="party-group-tmp" class="party-group" data-partyid="0">
                <span id="party-group-tmp-name" class="party-name">%GROUP_NAME%</span>
            </li>
        </ul>
    </section>
    <section id="party-raids" class="">
        <ul id="party-raid-list" class="item-list">
            <li id="party-raid-tmp" class="party-raid" data-partyid="0">
                <span class="party-name">Raid name</span>
            </li>
        </ul>
    </section>
</div>

<div id="partyview-loaded" class="hidden"></div>