<!DOCTYPE html>
<div class="view-title"><h3>Units</h3></div>
<div id="unit-submenu" class="subview-title" data-view="0">
    <ul class="horizontal links">
        <li id="setdata-unit-characters">Characters (<span id="charcount">0</span>)</li>
        <li id="setdata-unit-transports">Transports (<span id="trnscount">0</span>)</li>
    </ul>
</div>
<div id="unit-body" class="subview-body" data-view="0">
    <section id="unit-characters" class="show">
        <ul id="unit-char-list" class="item-list">
            <li id="unit-char-tmp" class="unit-char" data-unitid="0" data-unitrace="0" data-unitlevel="0" data-unitgender="0">
                <span id="unit-char-tmp-name" class="unit-name">%CHAR_NAME%</span>
                <span class="unit-gender">
                    <svg class="si-glyph si-glyph-male" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path d="M16.875,5.884 L16.875,0.125 L11.113,0.125 L13.336,2.346 L9.633,6.057 C8.748,5.429 7.668,5.055 6.502,5.055 C3.498,5.055 1.055,7.507 1.055,10.522 C1.055,13.538 3.498,15.99 6.502,15.99 C9.504,15.99 11.946,13.538 11.946,10.522 C11.946,9.344 11.568,8.254 10.935,7.361 L14.637,3.649 L16.875,5.884 L16.875,5.884 Z M6.464,14.165 C4.518,14.165 2.932,12.584 2.932,10.635 C2.932,8.689 4.518,7.106 6.464,7.106 C8.41,7.106 9.996,8.689 9.996,10.635 C9.996,12.584 8.41,14.165 6.464,14.165 L6.464,14.165 Z" fill="#434343" class="si-glyph-fill"></path>
                        </g>
                    </svg>
                    <svg class="si-glyph si-glyph-female" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path d="M9.982,9.965 C12.225,9.495 13.916,7.485 13.916,5.082 C13.916,2.331 11.701,0.094 8.978,0.094 C6.257,0.094 4.042,2.331 4.042,5.082 C4.042,7.494 5.746,9.512 8.001,9.97 L8.001,12.043 L5.062,12.043 L5.062,13.968 L8.001,13.968 L8.001,15.969 L9.981,15.969 L9.981,13.968 L12.874,13.968 L12.874,12.043 L9.981,12.043 L9.981,9.965 L9.982,9.965 Z M5.934,4.955 C5.934,3.187 7.301,1.75 8.979,1.75 C10.659,1.75 12.024,3.188 12.024,4.955 C12.024,6.722 10.659,8.158 8.979,8.158 C7.301,8.158 5.934,6.722 5.934,4.955 L5.934,4.955 Z" fill="#434343" class="si-glyph-fill"></path>
                        </g>
                    </svg>
                </span>
                <span class="unit-livingstatus">
                    <span data-v="0" class="unit-level ulv badge"></span>
                    <span data-v="0" class="unit-stamina ust">🔥</span>
                    <span data-v="0" class="unit-satiety usa">🍴</span>
                    <span data-v="0" class="unit-energy uen">💧</span>
                </span>
            </li>
        </ul>
    </section>
    <section id="unit-transports" class="">
        <ul id="unit-trns-list" class="item-list">
            <li id="unit-trns-tmp" class="unit-trns" data-unitid="0">
                <span class="unit-name">Character name</span>
            </li>
        </ul>
    </section>
</div>
<div id="unitview-loaded" class="hidden"></div>
